.container {
  background-color: var(--background-color);
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.poster {
  background-color: var(--project-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 700px;
}
