.container {
  background-color: var(--background-color);
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.poster {
  background-color: var(--project-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

@media only screen and (max-width: 768px) {
  .poster {
    width: 100vw;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
  .poster {
    width: 100vw;
  }
}
