:root {
  --background-color: rgb(49, 49, 49);
  --project-color: rgb(240, 240, 240);
  --project-color-dark: #2e2e2e;
  --project-color-semidark: #b4b4b4;
  --project-div-width: 80%;
  font-size: 1vh;
}

* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

button {
  border: 2px solid var(--project-color-semidark);
  background-color: var(--project-color);
  color: var(--project-color-semidark);
  width: calc(var(--project-div-width) * 0.4);
  height: 3em;
  font-size: 2em;
  text-decoration: underline;
}

button:hover {
  background-color: var(--project-color-semidark);
  color: var(--project-color);
}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
  :root {
    font-size: 1vw;
  }
}
